# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# TF local testing
.terraform
.terraform.lock.hcl

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
__local__

# System Files
.DS_Store
Thumbs.db

# Next.js
.next

# local env files
.env
.env.production
.env*.local
.env.*.backup
.env.*

# repo admin data to batch add envs
env_vars.csv

# NX
.nx/
nx.instructions.md

*.log
nohup.out

# Lighthouse reports
.lighthouseci
.lighthouse-reports
.lighthouserc*
lighthouserc*

# CH1 Backups
taxonomy-backup
content-backup
media-backup

# Playwright Repot
playwright-report
test-results
.features-gen
cucumber-report

# Slingshot Config
.slingshot

vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
