@import url("https://fonts.googleapis.com/css2?family=Neue+Machina:wght@400;700&display=swap");

body {
  font-family: "Neue Machina", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
